.article-card-link { 
    text-decoration: none;
    color: inherit;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Add background-color to transition */
  }
  
  .article-card-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    background-color: #f7f7f7;
  }
  

  .article-card-content {
    width: 100%;
  }
  
  .article-card-link h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    font-size: 1.3em;
    word-break: break-word;
  }
  
  .article-card-link .website-name {
    font-size: 0.95em;
    color: #6a6a6a;
    margin-bottom: 0;
    font-style: italic;
  }

/* Dark Theme */
.dark .article-card-link {
  background-color: #2a2a2a;
  border-color: #444444;
}

.dark .article-card-link:hover {
  background-color: #3a3a3a;
  border-color: #555555;
}

.dark .article-card-link h3 {
  color: #ffffff;
}

.dark .article-card-link .website-name {
  color: #bbbbbb;
}
